/**
 * Styles / Base / Icons
 * -----------------------------------------------------------------------------
 * Base styles for icons and SVGs.
 */
.icon {
  fill: currentColor;
  height: 24px;
  width: 24px;
}
