/**
 * Config: Mixins
 * -----------------------------------------------------------------------------
 * Global and reusable utility functions to reduce common styling.
 *
 */

/**
 * Hide element but make it accessible to screen readers.
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Reverse the properties applied by @mixin visually-hidden.
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  clip: auto;
  clip-path: unset;
  height: auto;
  margin: 0;
  overflow: auto;
  // stylelint-disable-next-line
  position: $position !important;
  width: auto;
}

/**
 * Resets form buttons to appear as a standard text link.
 * Usage:
 * .form button {
 *   @include button-reset;
 * }
 */
@mixin button-reset() {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
}

/**
 * Resets list elements to appear as a stacked text links.
 * Usage:
 * ul  {
 *   @include list-reset;
 * }
 */
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}
